body {
    background-color: #00BFFF;
    color: yellow;
    text-align: center;
    font-family: Comic Sans MS, Arial, sans-serif;
}

h1 {
    font-size: 40px;
}

#box {
    width: 100px;
    height: 100px;
    background-color: orange;
    position: relative;
    margin: 20px auto;
}